<div class="container">
  <div class="card m-3 card-body">
    <input class="form-control w-25 m-2" type="file" (change)="onFileSelected($event)" accept=".csv">
    <button (click)="uploadCsv()" class="btn btn-primary m-2">Upload CSV</button>





  </div>



  <div *ngIf="ProcessedData.length>0" class="card card-body">
    <div class="table-responsive mt-5 table-eph">
      <table class="table align-middle">
        <thead>
          <tr>
            <th>Id</th>
            <th>Eligibale</th>
            <th>PMI Required</th>
            <th>PMI Cost</th>
          </tr>
        </thead>

        <tbody>
          <tr tr class="align-bottom" *ngFor="let item of ProcessedData">
            <td>{{item.id}}</td>
            <td class="text-white" [ngClass]="{'bg-success':item.isEligible,'bg-danger':!item.isEligible }">
              <span *ngIf="item.isEligible">Yes</span>
              <span *ngIf="!item.isEligible">No</span>
            </td>
            <td>
              <span *ngIf="item.isPmiRequired">Yes</span>
              <span *ngIf="!item.isPmiRequired">No</span>
            </td>
            <td>{{item.pmiCost}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <div class="row">
    <div class="col-6" *ngIf="ProcessedData.length>0">
      <p>Percentage of approvals</p>
      <canvas baseChart [datasets]="barChartData" [labels]="barChartLabelsApproved" [options]="barChartOptions"
        [legend]="barChartLegend" [type]="'bar'"></canvas>
    </div>

    <div class="col-6" *ngIf="ProcessedData.length>0">
      <p>Percentage of not approvals</p>
      <canvas baseChart [datasets]="barChartData" [labels]="barChartLabelsNotApproved" [options]="barChartOptions"
        [legend]="barChartLegend" [type]="'bar'"></canvas>
    </div>




  </div>

  <div class="d-flex flex-column" *ngIf="ProcessedData.length>0">
    <div>
      <label for="customRange1" class="form-label">Loan Amount</label>
      <input  [min]="minLoanAmount" [max]="maxLoanAmount"  (change)="onSelectRange(1,$event)" type="range" class="form-range" id="customRange1" [(ngModel)]="loanAmount">
    </div>
    <div>
      <label  for="customRange1" class="form-label">AppraisedValue</label>
      <input [min]="minappraisedValue" [max]="maxappraisedValue" (change)="onSelectRange(2,$event)" type="range" class="form-range" id="customRange1" [(ngModel)]="appraisedValue">
    </div>
    <div>
      <label  for="customRange1" class="form-label">Credit Card Payment</label>
      <input [min]="mincreditCardPayment" [max]="maxcreditCardPayment"  (change)="onSelectRange(3,$event)" type="range" class="form-range" id="customRange1" [(ngModel)]="creditCardPayment">
    </div>
    <div>
      <label for="customRange1" class="form-label">Monthly Mortgage Payment</label>
      <input  [min]="minMonthlyMortgagePayment" [max]="maxMonthlyMortgagePayment" (change)="onSelectRange(4,$event)" type="range" class="form-range" id="customRange1" [(ngModel)]="monthlyMortgagePayment">
    </div>
    <div>
      <label for="customRange1" class="form-label">Gross Monthly Income</label>
      <input [min]="mingrossMonthlyIncome" [max]="maxgrossMonthlyIncome"  (change)="onSelectRange(5,$event)" type="range" class="form-range" id="customRange1" [(ngModel)]="grossMonthlyIncome">
    </div>
    <div>
      <label for="customRange1" class="form-label">CarPayment</label>
      <input  [min]="minCarPayment" [max]="maxCarPayment"  (change)="onSelectRange(6,$event)" type="range" class="form-range" id="customRange1" [(ngModel)]="carPayment">
    </div>
  </div>
</div>